[Unit]
Description=Service for sickrage app

[Service]
ExecStart=/usr/bin/python /apps/sickrage/SickBeard.py -q --daemon --nolaunch --datadir=/home/admin/.sickrage --config=/home/admin/.sickrage/config.ini --pidfile=/home/admin/.sickrage/sickrage.pid
Type=forking
TimeoutSec=200
KillMode=process
Restart=on-failure
Nice=20
User=admin
Group=admin
PIDFile=/home/admin/.sickrage/sickrage.pid

[Install]
WantedBy=multi-user.target
